.card {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.274);
    margin: 40px;
    border-radius: 20px;
    box-shadow: 1px 12px 12px 7px rgba(255, 255, 255, 0.575); 
    text-align: center;
    display: inline-block;
}
.card h4 {
    text-shadow: 0 0 5px #FFF, 0 0 10px #ffffff, 0 0 15px #FFF, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
    font-weight: bold;
    font-size: 20px;
}
.card p {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: auto;
}
.card img {
    width: 300px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 3px;
}