h2 {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #ffffff, 0 0 15px #FFF, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}